EBS_SDA_SIM/2021_01_12T02_40_07/*
EBS_SDA_SIM/Historical Files/*
EBS_SDA_SIM/Matlab/*
EBS_SDA_SIM/MHT/*
EBS_SDA_SIM/Quantum Efficiency Estimation/*
EBS_SDA_SIM/test_circuitry/*
EBS_SDA_SIM/test_propagations/ProcessingImages/*
EBS_SDA_SIM/test_propagations/PhaseScreens/pscrn images/*
EBS_SDA_SIM/__pycache__/*
EBS_SDA_SIM/TLE Files/*
EBS_SDA_SIM/Solar Irradiance Estimation/*
EBS_SDA_SIM/occultation_test/*
EBS_SDA_SIM/occultation_hdf5/*
